{% extends 'base.html' %}
{% import "macros.html" as macros %}

{% block title %}
  {{ config.title }} | {{ section.title }}
{% endblock title %}
{% block header %}



  <header class="hero">
    <div class="hero-body pb-0">
      <div class="container">
        <div class="has-text-centered">
          <h1 class="title is-1">{{ section.title }}</h1>
          <p class="subtitle" style="margin-bottom: 0.5rem;">{{ section.description }}</p>
        </div>
      </header>
    {% endblock %}
    {% block content %}
      <section class="section pt-3">
        <div class="container">
            
            {{ section.content | safe }}

            <div class="is-size-3" align="center" >Total Documented Bags of Trash Collected:</div>
            <div class="is-size-2" align="center" >{{ section.extra.bags_collected }}</div>

            {% set len = section.extra.images | length %}
            {% set num_fillers = (len / 4) | round(method="ceil") | int %}

            {% set images = section.extra.images %}

            {% for fill in range(end=num_fillers) %}
                {% set_global images  = images | concat(with='')%}
            {% endfor %}

            {% for img in images %}
                {% if loop.index0 % 4 == 0%}
                    <div class="columns is-centered">
                {% endif %}    
                
                {% if img != '' %}
                        
                    <div class="column has-text-centered">
                        {% set path = "/assets/images/trash/" ~ img %}
                        {{ macros::img(path=path)}}
                        {{ img }}
                    </div>

                {% else %}
                    <div class="column has-text-centered">
                    </div>
                {% endif %}

                {% if loop.index0 % 4 == 3%}
                    </div>
                {% endif %}    

            
            {% endfor %}
        </div>
      </section>
      
      
      
    {% endblock %}

